.text-color-primary {
  color: rgb(13, 19, 33);
}

.text-color-secondary {
  color: rgba(13, 19, 33, 0.7);

}
.Text-part-Common{
  text-align: center;
  width: 852px;

}

.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Vanila CSS : 10/12 = 83.333% */
  width: 83.333%;
  margin: 0 auto;
}

.nav-bar-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600px;
  font-family: "Times New Roman", Times, serif;
}

.Banner-section {
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  height: 652px;
  /* margin: 0 auto; */
  background-image: url("../image/Banner-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Banner-decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Banner-text {
  /* border: 2px solid red; */
  width: 750px;
  /* margin-top: -25px; */
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
}

.banner-heading {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
}

.banner-button {
  /* width: 196px; */
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.main-section-part-1 {
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 97px;
  padding-right: 97px;
  /* Vanila CSS : 10/12 = 83.333% */
  width: 83.333%;
  margin: 0 auto;
  /* border: 2px solid red; */
  /* padding:97px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 19, 33, 0.02);
}

.box-part {
  background-color: rgba(250, 235, 215, 0.308);
  margin-top: 25px;
  width: 70%;
  height: 250px;
  /* margin-left: 97px;
    margin-right: 97px; */
  padding: 48px;
  border-radius: 20px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.box-part-bacca {
  width: 400px;
  /* border: 2px solid red; */
  margin-left: 70px;
  padding: 30px;
}

.box-part-bacca-button {
  margin-top: 10px;
  width: 150px;
  height: 47px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: rgba(13, 19, 33, 0.7);
}

.image-dev {
  margin-top: -40px;
  width: 259.56px;
  height: 217.01px;
  /* border: 2px solid red; */
  padding: 40px;
}

.main-section-part-2{
    /* background-color: rgba(250, 235, 215, 0.308); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83.333%;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.inspiration-video{

    height: 500px;
    width: 800px;
    border-radius: 15px;
}

.main-section-part-3{

    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 97px;
    padding-right: 97px;
    /* Vanila CSS : 10/12 = 83.333% */
    width: 83.333%;
    margin: 0 auto;
    /* border: 2px solid red; */
    /* padding:97px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.02);
}

.All-are-in-this-div{
    display: flex;
    width: 80%;
    height: 400px;
    /* border: 2px solid red; */
    align-items: center;
    border-radius: 20px;
   background-color: rgba(250, 235, 215, 0.416);
   padding: 20px;

}
.box-part-of-main-section-part-3{
    padding: 25px;
    width: 264px;
    height: 300px;
    /* height: 299px; */
    /* border: 2px solid red; */
    margin-left: 20px;
    border-radius: 30px;
    background-color: rgba(127, 255, 212, 0.164);


}

.main-section-part-4{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.All-are-in-this-div-for-part-4{
  width: 83%;
  padding: 30px;
  /* border: 2px solid red; */

}


.box-part-of-main-section-part-4{
  display: flex;
  /* border: 2px solid red; */
  margin-bottom: 30px;
  border-radius: 40px;
  background-color: rgba(250, 235, 215, 0.228);
}

.box-part-of-main-section-part-4-images{
  /* border: 2px solid red; */
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* background-color: rgba(0, 255, 255, 0.098); */
  padding: 20px;
  padding: 10px;
}

.box-part-of-main-section-part-4-texts{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 10px;
  border-radius: 30px;
  /* background-color: rgba(0, 255, 255, 0.098); */

  width: 50%;


}

.main-section-part-5{
  /* border: 2px solid red; */
  /* margin-bottom: -10px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../image/footer\ image.jpg');
  height: 313px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hmm{
  padding: 500px;
  /* border: 2px solid red; */
  width: 1044px;
  height: 185px;
  padding: 60px;
  border-radius: 50px;
  background-color: rgba(250, 235, 215, 0.244);
}

.heading--{
  text-align: center;
  margin-bottom: 5px;
  color:rgba(140, 255, 127, 0.897);
}

.texting--{
  text-align: center;
  margin-top: 10px;
  font-size: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: bold;

}
.main-section-part-input{
  /* border: 2px solid red; */
  display: flex;
  margin-left: 230px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 548px;
  height: 57px;
  /* padding: 10px; */
}

.placeholder{

  width: 500px;
  height: 57px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
}

.input-types-button{
  width: 120px;
  height: 63px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}


.footer-part{
  /* border: 2px solid red; */
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 255, 115, 0.096);

}

.social-side{
  /* border: 2px solid red; */
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(221, 255, 0, 0.089);


}


@media screen and (max-width: 576px) {
  .nav-bar{
    width: 100%;
  }
  .Banner-decoration, .Banner-section{
    width: 100%;
  }

  .Banner-text{
    width: 100%;
  }

  .main-section-part-1{
    padding: 0px;
  }

  .con-div{
    width: 100%;
  }

  .box-part{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Text-part-Common{
    width: 100%;
    display: flex;
    /* margin-left: -150px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-part-bacca{
    width: 100%;
  }

  .image-dev{
    width: 100%;


  }

  }


