.text-secodary{
    color: rgb(13, 19, 33);
}

.nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Vanila CSS : 10/12 = 83.333% */
    width: 83.333%;
    margin: 0 auto;
}

.nav-bar-button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
}


.Banner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 652px;
    /* margin: 0 auto; */
    background-image: url('../image/Banner-background.jpg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.Banner-decoration{
    height:581px;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 4507px;
    border: 10 px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-button{
    width: 196px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: black;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
}

.banner-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

.Banner-text{
    width: 750px;
    margin-top: -25px;
    margin-bottom: 25px;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
}

